@function aspect($width) {
  @return $width * 9 / 16;
}

#player {
    position: absolute;
    width: 75vw;
    height: aspect(75vw);
}

#chat {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 23vw;
}
