@function aspect($width) {
  @return $width * 9 / 16;
}

#player {
    position: absolute;
    width: 75vw;
    height: aspect(75vw);
    margin-right: 10px;
}

#player_wrapper {
    position: relative;
    float: left;
}

#chat {
    position: relative;
    float: right;
}
